<!DOCTYPE html>
<html>

<head>

  <title>Webchat</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>

</head>

<body>

  <div id="user-container">
    <form id="nickname-form">
      <input
        required
        autocomplete="off"
        minlength="3"
        maxlength="16"
        type="text"
        id="nickname-box"
        data-testid="nickname-box"
        placeholder="Insert your Nickname"
      />
      <button type="submit" id="nickname-button" data-testid="nickname-button">CONFIRM</button>
    </form>
    <ul id="online-users"></ul>
  </div>

  <ul id="chat-box">
    <% history.forEach(({ message, nickname, timestamp }) => { %>
      <li data-testid="message"><%= `${timestamp} - ${nickname}: ${message}` %></li>
    <% }) %>
  </ul>
  
  <form id="message-form">
    <input
      required
      autocomplete="off"
      id="message-box"
      data-testid="message-box"
      placeholder="Write a message"
    />
    <button type="submit" id="send-button" data-testid="send-button">SEND</button>
    </form>

  <script>
    const socket = io();
    const nicknameForm = document.querySelector('#nickname-form');
    const messageForm = document.querySelector('#message-form');
    let nickname = 'nickname';

    const updateNickname = (nickname) => {
      const nicknameElement = document.getElementById(`${socket.id}`);
      const previousNickname = nicknameElement.innerText;
      nicknameElement.innerText = nickname;
      socket.emit('updateUser', nickname);
    };

    const createMessage = (message) => {
      const chatBox = document.querySelector('#chat-box');
      const chatItem = document.createElement('li');
      chatItem.setAttribute('data-testid', 'message');
      chatItem.innerText = message;
      chatBox.appendChild(chatItem);
    };

    const handleNicknameChange = (e) => {
      e.preventDefault();
      const nicknameBox = document.querySelector('#nickname-box');
      nickname = nicknameBox.value;
      nicknameBox.value = '';
      updateNickname(nickname);
    };

    const handleSendMessage = (e) => {
      e.preventDefault();
      const messageBox = document.querySelector('#message-box');
      const chatMessage = messageBox.value;
      socket.emit('message', ({ chatMessage, nickname }));
      messageBox.value = '';
    };

    nicknameForm.addEventListener('submit', handleNicknameChange);
    messageForm.addEventListener('submit', handleSendMessage);

    socket.on('message', (message) => createMessage(message));

    socket.on('onlineList', (users, socketID) => {
      const usersList = document.querySelector('#online-users');
      usersList.innerHTML = '';
      console.log('SOCKET: ', socket);
      Object.entries(users).forEach((user) => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'online-user');
        li.setAttribute('id', `${user[0]}`);
        li.innerText = `${user[1]}`;
        if (user[0] === socket.id || user[1] === socket.id.substring(0, socket.id.length - 4)) {
          nickname = user[1];
          return usersList.prepend(li);
        }
        return usersList.appendChild(li);
      });
    });

    socket.on('updateUser', (socketID, nickname) => {
      const user = document.querySelector(`#${socketID}`);
      user.innerText = nickname;
    });
  </script>

</body>

</html>